.opening{
  height: 90vh;
}
.my-sections{
  margin-top: -3px;
}
.bg-black{
  background-color: black;
  color: white;
  border-color: black;
}
.menu a{
  width:100%;
  margin-top:4px;
  margin-bottom:4px;
}
.menu a.focus{
  padding-right:150%;
  z-index: -1;
  box-shadow: 0 0 0 3px black;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 3px black;
}

#btn-one{
  margin-top:0;
}

#one p{
  height: 0;
  opacity: 0;
}

#one.open-para p {
  height: auto;
  opacity: 1;
}

.open-para{
  border-width: 1;
  z-index: 3000;
  padding: 1em;
  padding-top:12px;
  padding-bottom:7%;
  background-color: black;
  color: white;
  border-radius: 8px;
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);

}
section:first-child{
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 100%);
}
section:nth-child(even){
  background-color: white;
  color: black;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}
